<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <context:component-scan base-package="oldboy.vip"/>



    <!--阿里的json-->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <!--此标签用来解决json传给前端的问题，""xxx"",解决去掉里面双引号的问题-->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


    <!--配置拦截器，会拦截所有的，静态资源也是，所以不用拦截的话在web.xml的配置里配置
         <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>此标签，不会来接静态资源了
        -->


       <mvc:annotation-driven/>
    <!--这里注意：因为添加了js,bootstrap的原因，在加载的时候会报错，
            因为springmvc会误以为这些需要处理，其实只要交给tomcat处理就行-->
       <mvc:default-servlet-handler/>


       <bean id="velocityConfigurer" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
              <property name="resourceLoaderPath" value="/WEB-INF/views/"/>
              <property name="velocityProperties">
                     <props>
                            <prop key="input.encoding">utf-8</prop>
                            <prop key="output.encoding">utf-8</prop>
                            <prop key="file.resource.loader.cache">false</prop>
                            <prop key="file.resource.loader.modificationCheckInterval">1</prop>
                            <prop key="velocimacro.library.autoreload">false</prop>
                     </props>
              </property>
       </bean>

       <bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
                    <property name="suffix" value=".vm"/> 
                     <property name="contentType" value="text/html;charset=UTF-8"/>
                     <property name="dateToolAttribute" value="data"/>

       </bean>





</beans>